@import "./variables.css";
@import "./themes.css";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-base);
	background: var(--color-bg);
	color: var(--color-text);
	line-height: 1.6;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}
